* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url("./assets/background-header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 57px;
}

#menu div {
    display: flex;
    gap: 60px;
}

#menu div a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    transition: 0.3s;
}

#menu div a:hover {
    transform: scale(1.05);
}

#menu button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    gap: 15px;
    border: none;
    cursor: pointer;
}

#content {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

#content .content-1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

#content .content-1 .text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

#content .content-1 .artist {
    display: flex;
}

#content .content-1 .artist .avatar img {
    transition: 0.3s;
    cursor: pointer;
}

#content .content-1 .artist .avatar img:hover {
    transform: scale(1.05);
}

#content .content-1 .artist .avatar img:nth-child(1) {
    position: relative;
    z-index: 4;
}

#content .content-1 .artist .avatar img:nth-child(2),
#content .content-1 .artist .avatar img:nth-child(3),
#content .content-1 .artist .avatar img:nth-child(4) {
    margin-left: -70px;
}

#content .content-1 .artist .avatar img:nth-child(2) {
    position: relative;
    z-index: 3;
}

#content .content-1 .artist .avatar img:nth-child(3) {
    position: relative;
    z-index: 2;
}

#content .content-1 .artist .datas {
    margin-top: 40px;
    margin-left: 6px;
}

#content .content-1 .artist .datas span {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

#content .content-1 .artist .datas p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

#content h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: white;
    width: 596px;
}

#content h1 span {
    color: #FF5B50;
}

#content .explore-a-arte {
    width: 200px;
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
}

#content .explore-a-arte:hover {
    transform: scale(1.05);
}

#gallery .gallery-1 {
    margin-top: 100px;
}

#gallery .gallery-1,
#gallery .gallery-2 {
    display: flex;
    justify-content: center;
    gap: 16.16px;
}

#gallery .gallery-1 img,
#gallery .gallery-2 img {
    transition: 0.3s;
    cursor: pointer;
}

#gallery .gallery-1 img:hover,
#gallery .gallery-2 img:hover {
    transform: scale(1.05);
}

#gallery .gallery-2 {
    margin-top: 60.44px;
}

main {
    background-color: #0E0E0E;
}

#datas {
    display: grid;
    grid-template-columns: 1fr 1159px;
    grid-template-areas: "a b";
    border-bottom: 1px solid #5A5757;
}

#datas .left {
    grid-area: "a";
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 70px;
}

#datas .left div span {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: white;
    display: flex;
    justify-content: center;
}

#datas .left div p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    text-align: center;
}

#datas .right {
    border-left: 1px solid #5A5757;
}

#datas .right .text {
    display: flex;
    justify-content: space-around;
}

#datas .right .text .text-1,
#datas .right .text .text-2 {
    width: 435px;
    margin-top: 79.6px;
    margin-bottom: 71px;
}

#datas .right .text .text-1 p,
#datas .right .text .text-2 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-bottom: 63px;
}

#datas .right .text .text-1 p span a,
#datas .right .text .text-2 p span a {
    text-decoration-line: underline;
    color: #FF5B50;
}

#datas .right .text .text-1 a,
#datas .right .text .text-2 a {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    text-decoration-line: underline;
}

#popularity .popularity-title {
    display: flex;
    justify-content: space-around;
    width: 87%;
}

#popularity .popularity-title h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FF5B50;
    margin-top: 150px;
    margin-bottom: 158px;
}

#popularity .popularity-title h2 span {
    color: white;
}

#popularity .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#popularity .images .images-left,
#popularity .images .images-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#popularity .images .images-left .mayk-brito,
#popularity .images .images-left .joao-inacio,
#popularity .images .images-right .jakeliny-gracielly,
#popularity .images .images-right .tamires-santos {
    cursor: pointer;
    transition: 0.3s;
}

#popularity .images .images-left .mayk-brito:hover,
#popularity .images .images-left .joao-inacio:hover,
#popularity .images .images-right .jakeliny-gracielly:hover,
#popularity .images .images-right .tamires-santos:hover {
    transform: scale(1.05);
}

#popularity .images .images-left .mayk-brito .astronaut a,
#popularity .images .images-left .joao-inacio .astronaut a,
#popularity .images .images-right .jakeliny-gracielly .astronaut a,
#popularity .images .images-right .tamires-santos .astronaut a {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 376.9px;
    margin-bottom: 15.1px;
}

#popularity .images .images-left .mayk-brito .artist,
#popularity .images .images-left .joao-inacio .artist,
#popularity .images .images-right .jakeliny-gracielly .artist,
#popularity .images .images-right .tamires-santos .artist {
    width: 340px;
    margin-bottom: 29px;
}

#popularity .images .images-left .mayk-brito .artist a,
#popularity .images .images-left .joao-inacio .artist a,
#popularity .images .images-right .jakeliny-gracielly .artist a,
#popularity .images .images-right .tamires-santos .artist a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    text-decoration: none;
}

#popularity .images .images-left .mayk-brito .artist span,
#popularity .images .images-left .joao-inacio .artist span,
#popularity .images .images-right .jakeliny-gracielly .artist span,
#popularity .images .images-right .tamires-santos .artist span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FF5B50;
    float: right;
}

#popularity .images .images-right {
    border-left: 1px solid #5A5757;
}

#best-artists .best-artists-title {
    display: flex;
    justify-content: center;
    margin-top: 151px;
    margin-bottom: 120px;
}

#best-artists .best-artists-title h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: white;
}

#best-artists .best-artists-title h2 span {
    color: #FF5B50;
}

#best-artists .best-artists-1 {
    margin-bottom: 111px;
}

#best-artists .best-artists-1,
#best-artists .best-artists-2 {
    display: flex;
    justify-content: space-around;
}

#best-artists .best-artists-1 .best-artists-mayk-brito a,
#best-artists .best-artists-1 .best-artists-jakeliny-g a,
#best-artists .best-artists-1 .best-artists-joao-i-biro a,
#best-artists .best-artists-2 .best-artists-tamires-santos a,
#best-artists .best-artists-2 .best-artists-ana-silva a,
#best-artists .best-artists-2 .best-artists-diego-f a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #252525;
    width: 350px;
    height: 150px;
    justify-content: center;
    transition: 0.3s;
}

#best-artists .best-artists-1 .best-artists-mayk-brito a:hover,
#best-artists .best-artists-1 .best-artists-jakeliny-g a:hover,
#best-artists .best-artists-1 .best-artists-joao-i-biro a:hover,
#best-artists .best-artists-2 .best-artists-tamires-santos a:hover,
#best-artists .best-artists-2 .best-artists-ana-silva a:hover,
#best-artists .best-artists-2 .best-artists-diego-f a:hover {
    background-color: #FF5B50;
    transform: scale(1.05);
}

#best-artists .best-artists-1 .best-artists-mayk-brito a div h3,
#best-artists .best-artists-1 .best-artists-jakeliny-g a div h3,
#best-artists .best-artists-1 .best-artists-joao-i-biro a div h3,
#best-artists .best-artists-2 .best-artists-tamires-santos a div h3,
#best-artists .best-artists-2 .best-artists-ana-silva a div h3,
#best-artists .best-artists-2 .best-artists-diego-f a div h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
    margin-bottom: 10px;
}

#best-artists .best-artists-1 .best-artists-mayk-brito a div span,
#best-artists .best-artists-1 .best-artists-jakeliny-g a div span,
#best-artists .best-artists-1 .best-artists-joao-i-biro a div span,
#best-artists .best-artists-2 .best-artists-tamires-santos a div span,
#best-artists .best-artists-2 .best-artists-ana-silva a div span,
#best-artists .best-artists-2 .best-artists-diego-f a div span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FF5B50;
    transition: 0.3s;
}

#best-artists .best-artists-1 .best-artists-mayk-brito a:hover div span,
#best-artists .best-artists-1 .best-artists-jakeliny-g a:hover div span,
#best-artists .best-artists-1 .best-artists-joao-i-biro a:hover div span,
#best-artists .best-artists-2 .best-artists-tamires-santos a:hover div span,
#best-artists .best-artists-2 .best-artists-ana-silva a:hover div span,
#best-artists .best-artists-2 .best-artists-diego-f a:hover div span {
    color: white;
}

#best-artists .all-artists a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
    margin-top: 63px;
    padding-bottom: 147.66px;
    transition: 0.3s;
}

#best-artists .all-artists a:hover {
    transform: scale(1.05);
}

footer {
    background-color: #252525;
}

#baseboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 60px;
    padding-left: 85px;
    padding-right: 85px;
    border-bottom: 1px solid #5A5757;
}

#baseboard a button {
    background-color: #FF5B50;
    border: none;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#baseboard a button:hover {
    background-color: white;
}

#news {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    border-bottom: 1px solid #5A5757;
}

#news .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#news .left div h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: white;
    width: 350px;
    margin-bottom: 25px;
}

#news .left div h4 span {
    color: #FF5B50;
}

#news .left div .form {
    display: flex;
}

#news .left div .form .email {
    background-color: #0D0D0D;
    border: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 25px;
}

#news .left div .form .email:focus {
    outline: none;
}

#news .left div .form .button {
    background-color: white;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 22px;
    padding-right: 26px;
    padding-bottom: 21px;
    padding-left: 25px;
    cursor: pointer;
}

#news .right {
    display: flex;
    justify-content: space-around;
    padding-top: 74px;
    padding-bottom: 53px;
    border-left: 1px solid #5A5757;
}

#news .right .right-1 h5,
#news .right .right-2 h5,
#news .right .right-3 h5 {
    margin-bottom: 16px;
    transition: 0.3s;
}

#news .right .right-1 h5:hover,
#news .right .right-2 h5:hover,
#news .right .right-3 h5:hover {
    transform: scale(1.05);
}

#news .right .right-1 h5 a,
#news .right .right-2 h5 a,
#news .right .right-3 h5 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

#news .right .right-1 ul,
#news .right .right-2 ul,
#news .right .right-3 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#news .right .right-1 ul li,
#news .right .right-2 ul li,
#news .right .right-3 ul li {
    transition: 0.3s;
}

#news .right .right-1 ul li:hover,
#news .right .right-2 ul li:hover,
#news .right .right-3 ul li:hover {
    transform: scale(1.05);
}

#news .right .right-1 ul li a,
#news .right .right-2 ul li a,
#news .right .right-3 ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    text-decoration: none;
}

#social-links {
    display: flex;
    justify-content: center;
}

#social-links .social-links {
    display: flex;
    align-items: center;
    gap: 762px;
}

#social-links .social-links .link {
    margin-top: 80px;
    margin-bottom: 63px;
    transition: 0.3s;
}

#social-links .social-links .link:hover {
    transform: scale(1.05);
}

#social-links .social-links .link a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    text-decoration: none;
}

#social-links .social-links .social ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

#social-links .social-links .social ul li a img {
    transition: 0.3s;
}

#social-links .social-links .social ul li a img:hover {
    transform: scale(1.05);
}